@import url("../lib/fonts/ibm-plex/font.css");

*    { margin: 0; padding: 0 }
html { height: 100%; }
body { background-color: #151515; min-height: 100%; font-family: 'IBMPlexMono'; }

.hide { display: none; }
.mobile-assistant { height: 20px; width: 20px; position: absolute; left: -30px; top: -30px; }

.red   { color: #f00 }
.green { color: #0f0 }
.blue  { color: #00f }


container {
    display: block;
    min-height: 100%;
    padding: 20px;
    color  : #a0a0a0;
}

line {
    display: block;
    width: auto;
    min-height: 1em;
    line-height: 1.5em;
}

command-line {
    display: flex;
    flex-wrap: wrap;
}

buffer {
    word-break: break-all;
}

caret {
    font-weight: 900;
    animation: blink 1s infinite;
}

.post-id {
    width: 120px;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}